<div class="carousel slide" data-ride="carousel" id="my-carousel">
  <!-- indicators -->
  <ol class="carousel-indicators">
    <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#my-carousel" data-slide-to="1"></li>
    <li data-target="#my-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     <%= link_to image_tag("img6.jpg", alt: "slide 1")%>
     <div class="container">
            <div class="carousel-caption">
              <h1>Be Proud To Be At Dat Gym</h1>
              <p>Start Your Training Now!</p>
              <%= link_to "Sign up now!", 'membership', class: "btn btn-lg btn-primary" %>
               
               
            </div>
          </div>
    </div>
    <div class="item">
      <%= link_to image_tag("img1.jpg")%>
      <div class="container">
            <div class="carousel-caption">
              <h1>Never Miss Chest Day!</h1>
              <p>Gym Instructors will be at your side at all times. Let us help you reach your goal </p>
               <%= link_to "Learn More", 'contact', class: "btn btn-lg btn-primary" %>
            </div>
    </div>
    </div>
    <div class="item">
     <%= link_to image_tag("img5.jpg")%>
     <div class="container">
            <div class="carousel-caption">
              <h1>You Are Not Alone.</h1>
              <p>Weekly Classes are now available. Book Today!</p>
               <%= link_to "View Classes", 'classes', class: "btn btn-lg btn-primary" %>
            </div>
          </div>
      </div>
    </div>
    
  <!-- Controls -->
  <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>

 <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container">
      
      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <%= link_to image_tag("mem1.jpg", alt: "logo", class: "featurette-image img-responsive center-block")%>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <%= link_to image_tag("img4.jpg", alt: "logo", class: "featurette-image img-responsive center-block")%>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <%= link_to image_tag("img7.jpg", alt: "logo", class: "featurette-image img-responsive center-block")%>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
      
      

