<%= form_for(dy_content) do |f| %>
  <% if dy_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dy_content.errors.count, "error") %> prohibited this dy_content from being saved:</h2>

      <ul>
      <% dy_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, class: 'form-control-label' %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content, class: 'form-control-label' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :pagename, class: 'form-control-label' %>
    <%= f.text_field :pagename, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
