<p id="notice"><%= notice %></p>
<br>
<h1>Dy Contents</h1>

<% DynamicPage.all.each do | dynamicpage| %>
      <div class='btn-group' role='group' aria-label="Page Select">
          <%= link_to dynamicpage.name, contents_path(pagename: dynamicpage.name), class: 'btn btn-secondary' %>
      </div>
  <%end%><br>

<table class="table table-striped">
  <thead class="thead thead-default">
    <tr>
      <th>Description</th>
      <th>Content</th>
      <th>Pagename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dy_contents.each do |dy_content| %>
      <tr>
        <td><%= dy_content.description %></td>
        <td><%= dy_content.content %></td>
        <td><%= dy_content.pagename %></td>
        <td><%= link_to 'Show', dy_content %></td>
        <td><%= link_to 'Edit', edit_dy_content_path(dy_content) %></td>
        <td><%= link_to 'Destroy', dy_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dynamic Content', new_dy_content_path, class: 'btn btn-secondary'  %>
